.header
  .header__header-bar
    .header__header-bar__title
      = link_to posts_path, class: "btn-root" do
        Matching Baseball
    .header__header-bar__box
      .header__header-bar__box__post
        = link_to new_post_path, class: "btn-post" do
          募集する
      .header__header-bar__box__user
        = link_to user_path(current_user), class: "btn-edit" do
          = current_user.name

.room-top
  トーク一覧
- @anotherEntries.each do |e|
  = link_to room_path(e.room.id) do
    .room-list
      .room-list__image
        -if e.user.image?
          = image_tag "#{e.user.image.url}", size: '150x150',class: "message-user-image"
        -else
          = image_tag "siruetto.jpg", size: '150x150'
      .room-list__talk-box
        .room-list__talk-box__name
          = e.user.name
        .room-list__talk-box__last-talk
          - if e.room.messages.order(created_at: :desc).take.try(:content).present? 
            = e.room.messages.order(created_at: :desc).take.try(:content)
          -else
            まだメッセージはありません。
.footer