.login-form
  .login-form__login-top
    Matching Baseball
  .login-form__login-main
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .text-input
        = f.text_field :email, placeholder: "入力して下さい", type: "text"
        %label{for: "input1"} E-mail
      .text-input
        = f.text_field :password, placeholder: "入力して下さい", type: "text"
        %label{for: "input1"} P-word
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :次回から入力を省略
      .actions
        = f.submit "ログイン", class: "login-btn"
  .login-form__login-bottom
    = render "devise/shared/links"
