= render "posts/header"
.message
  .message__message-header
    .message__message-header__header-name
      - @entries.each do |e|
        - if e.user.id == current_user.id
        - else
          %a{href: "/users/#{e.user.id}"}
            = e.user.name
            さん
  .message__main-chat
    .message__main-chat__message-post
      .message__main-chat__message-post__upper-info
        .message__main-chat__message-post__upper-info__name
          - if @messages.present?
            - @messages.each do |m|
              - if m.user.id != current_user.id
                .left-message-box
                  .left-message-box__name
                    %a{href: "/users/#{m.user.id}"}
                      -if m.user.image?
                        = image_tag "#{m.user.image.url}", size: '50x50',class: "message-user-image"
                      -else
                        = image_tag "siruetto.jpg", size: '50x50',class: "message-user-image"
                  .left-message-box__content
                    = m.content
              -else
                .right-message-box
                  .right-message-box__right
                    .right-message-box__right__name
                      %a{href: "/users/#{m.user.id}"}
                        -if m.user.image?
                          = image_tag "#{m.user.image.url}", size: '50x50',class: "message-user-image"
                        -else
                          = image_tag "siruetto.jpg", size: '50x50',class: "message-user-image"
                    .right-message-box__right__content
                      = m.content
          - else
            %h3.text-center メッセージはまだありません
  .message__form
    .message__form__comment
      = form_for @message do |f|
        = f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 60, class: 'text'
        = f.hidden_field :room_id, value: @room.id
        %br/
        = f.submit "投稿する", class: 'btn--send'
= render "posts/footer"