.header
  .header__header-bar
    .header__header-bar__title
      = link_to posts_path, class: "btn-root" do
        Matching Baseball
    .header__header-bar__box
      .header__header-bar__box__post
        = link_to new_post_path, class: "btn-post" do
          募集する
      .header__header-bar__box__user
        = link_to user_path(current_user), class: "btn-edit" do
          = current_user.name
.message
  .message__message-header
    .message__message-header__header-name
      - @entries.each do |e|
        - if e.user.id == current_user.id
        - else
          %a{:href => "/users/#{e.user.id}"}
            = e.user.name
            さん　　
  .message__main-chat
    .message__main-chat__message-post
      .message__main-chat__message-post__upper-info
        .message__main-chat__message-post__upper-info__name
          - if @messages.present?
            - @messages.each do |m|
              - if m.user.id != current_user.id
                .left-message-box
                  .left-message-box__name
                    -if m.user.image?
                      = image_tag "#{m.user.image.url}", :size =>'50x50',class: "message-user-image"
                    -else
                      = image_tag "siruetto.jpg", :size =>'50x50'
                  .left-message-box__content
                    = m.content
              -else
                .right-message-box
                  .right-message-box__name
                    -if m.user.image?
                      = image_tag "#{m.user.image.url}", :size =>'50x50',class: "message-user-image"
                    -else
                      = image_tag "siruetto.jpg", :size =>'50x50',class: "message-user-image"
                  .right-message-box__content
                    = m.content
          - else
            %h3.text-center メッセージはまだありません
  .message__form
    .message__form__comment
      = form_for @message do |f|
        = f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 60, class: 'text'
        = f.hidden_field :room_id, :value => @room.id
        %br/
        = f.submit "投稿する", class: 'btn--send'
.footer