.header
  .header__header-bar
    .header__header-bar__title
      = link_to posts_path, class: "btn-root" do
        Matching Baseball
    .header__header-bar__box
      .header__header-bar__box__post
        = link_to  new_post_path, class: "btn-post" do
          募集する
      .header__header-bar__box__user
        = link_to user_path(current_user), class: "btn-edit" do
          = current_user.name
  .header__header-bar-picture
    Let's play baseball together.

  .swiper-container
    .swiper-wrapper
      .swiper-slide
        %img{:alt => "Swiper01", :src => "https://haniwaman.com/wp-content/uploads/2018/05/swiper01.png"}/
      .swiper-slide
        %img{:alt => "Swiper02", :src => "https://haniwaman.com/wp-content/uploads/2018/05/swiper02.png"}/
      .swiper-slide
        %img{:alt => "Swiper03", :src => "https://haniwaman.com/wp-content/uploads/2018/05/swiper03.png"}/
  .swiper-button-prev
  .swiper-button-next

  .header__header-bar-second
    .header__header-bar-second__search
      = form_with url: posts_path, method: :get, local: true do |form|
        = form.text_field :search
        = form.submit 'Search', name: nil
      -# = icon('fas', 'search')
      
    
  .header__header-bar-third
    .header__header-bar-third__information.wow.flip
      = icon('far', 'calendar-alt')
      募集情報

      -# = form.select :activity,