.recruitment
  - @posts.each do |post|
    .recruitment__content
      .recruitment__content__title 
        = post.title
      .recruitment__content__name
        募集者 : 
        = link_to user_path(post.user_id), class: "user--edit" do
          = post.user.name
          
          
      .recruitment__content__date
        開催日 : 
        = post.date
      .recruitment__content__place
        エリア : 
        = post.area_id
      .recruitment__content__application-btn
        = link_to "#", class: "btn--edit" do
          詳細を見る
    