.header
  .header__header-bar
    .header__header-bar__title
      = link_to root_path, class: "btn-root" do
        Matching Baseball
    .header__header-bar__box
      .header__header-bar__box__post
        = link_to new_post_path, class: "btn-post" do
          募集する
      .header__header-bar__box__user
        = link_to user_path(current_user), class: "btn-edit" do
          = current_user.name
.post-done
  .post-done__success
    投稿が完了しました。
  .post-done__home
    = link_to root_path, class: "btn-root" do
      投稿一覧へ戻る
  = render "footer"