= render "header"
.show-content
  .show-content__show-title
    = @post.title
  .show-content__show-application
    .show-content__show-application__form-group
    - if @post.user.id == current_user.id
      = link_to  edit_post_path, class: "btn-edit" do
        = icon('fas', 'cog')
    - else
      - if @isRoom == true
        %p
          %a{href: "/rooms/#{@roomId}"} 応募する
      - else
        = form_for @room do |f|
          = fields_for @entry do |e|
            = e.hidden_field :user_id, value: @post.user.id
          = f.submit "応募する"
  .show-content__data
    .show-content__data__show-name
      　　募集者　　
      = link_to user_path(@post.user_id), class: "user--edit" do
        = @post.user.name
    .show-content__data__show-date
      　　開催日　　
      = @post.date
    .show-content__data__show-place
      　　住所　　　
      〒
      = @post.postal
      　
      = @post.place
    .show-content__data__show-venue
      　　会場　　　
      = @post.venue
    .show-content__data__show-capacity
      　　定員　　　
      = @post.capacity
      人
    .show-content__data__show-remarks
      .show-content__data__show-remarks__title
        備考
      .show-content__data__show-remarks__write
        = @post.remarks
= render "footer"